@import "bootstrap.min.css";

@media (max-width: 1366px) {
    
    #header {
        background-color: #A0522D;
    }
    #nav_bar {
        background-color: #A0522D;
        border: solid #A0522D;
    }
    #nav_bar_info {
        margin-left: 30%;
    }
    #nav_bar_info > li > a {
        color: white;
        background-color: #A0522D;
    }
    #dropdown-content {
        display: none;
        margin-top: 2px;
        margin-left: -45%;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    #ul_logout > li > a {
        color: white;
    }
    #ul_nav_nome_user {
        margin-left: 45%;
        margin-top: 1.1%;
    }
    #ul_nav_nome_user > li > span {
        color: white;
    }
    #ul_nav_nome_user_admin {
        margin-left: 30%;
        margin-top: 1.1%;
    }
    #ul_nav_nome_user_admin > li > span {
        color: white;
    }
    #nav_bar_admin {
        margin-left: 15%;
    }
    #nav_bar_admin > li > a {
        color: white;
        background-color: #A0522D;
    }
    #dropdown-content_admin {
        display: none;
        margin-top: 2px;
        margin-left: -20%;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    #titulo_site_nav {
        color: white;
        font-family: Bookman;
        font-size: 28px;
        text-shadow: 0.1em 0.1em 0.20em #333; 
    }
    #div_login {
        margin-left: 15%;
        margin-top: 6%;
    }
    #div_cadastrar {
        float: left;
        border-right: solid 2px gray;
        height: 281px;
    }
    #div_cadastrar > h2{
        text-align: center;
    }
    #div_cadastrado {
        float: right;
        border-left: solid 2px gray;
    }
    #div_cadastrado > form > h2{
        text-align: center;
    }
    #btn_login_entrar {
        width: 100%;
    }
    #div_lembrar_senha > p {
        text-align: center;
    }
    .msg_erro_validacao {
        padding: 8px;
        font-weight: bold;
        font-size: 13px;
        width: 80%;
    }
    #div_erro_login {
        text-align: center;
    }
    #msg_erro_email, #msg_erro_senha {
        margin-left: 10%;
    }
    #msg_erro_email_nao_cadastrado, #msg_erro_senha_nao_confere {
        margin-left: 5%;
        padding: 10px;
        font-weight: bold;
        font-size: 12px;
        width: 90%;
    }

    /*PÁGINA DE PERMISSÕES*/
    #div_nav_tabs {
        margin-left: 25%;
        margin-top: 2%;
    }
    #div_cad_permissao {
        margin-left: 29%;
        margin-top: 2%;
    }
    #tabela_permissoes {
        margin-top: 0;
        border-top: solid #DCDCDC 0;
    }
    #tabela_permissoes > thead > tr > th {
        text-align: center;
        border-bottom: solid white 0;
    }
    #tabela_permissoes > thead > tr > th:first-child  {
        border-right: solid white 1px;
    }
    #tabela_permissoes > thead {
        background-color: #DCDCDC;
        border-bottom: solid #DCDCDC 0;
    }
    #tabela_permissoes > tbody > tr > td {
        text-align: center;

    }
    #tabela_permissoes > tbody > tr > td {
        padding: 1px;
    }
    #tabela_permissoes > tbody > tr > td:first-child {
        padding: 5px;
    }
    #tabela_permissoes > tfoot > tr > td{
        border: solid white 1px;
    }
    #msg_erro_nova_permissao {
        padding-top: 2px;
        padding-bottom: 2px;
        font-weight: bold;
        font-size: 12px;
        width: 100%;
        text-align: center;
    }
    #msg_erro_novo_grupo {
        padding-top: 2px;
        padding-bottom: 2px;
        font-weight: bold;
        font-size: 12px;
        width: 130%;
        text-align: center;
    }
    #msg_erro_param_permi {
        padding-top: 2px;
        padding-bottom: 2px;
        font-weight: bold;
        font-size: 12px;
        width: 130%;
        text-align: center;
    }
    #div_form_cad_permissao {
        float: left;
    }
    #div_erro_cad_permissao {
        float: left;
        margin-left: 25%;
        margin-top: 5px;
    }
    
    #tabela_grupos {
        margin-top: 0;
        border-top: solid #DCDCDC 0;
    }
    #tabela_grupos > thead > tr > th {
        text-align: center;
        border-bottom: solid white 0;
    }
    #tabela_grupos > thead > tr > th:first-child  {
        border-right: solid white 1px;
    }
    #tabela_grupos > thead {
        background-color: #DCDCDC;
        border-bottom: solid #DCDCDC 0;
    }
    #tabela_grupos > tbody > tr > td {
        text-align: center;

    }
    #tabela_grupos > tbody > tr > td {
        padding: 1px;
    }
    #tabela_grupos > tbody > tr > td:first-child {
        padding: 5px;
    }
    #tabela_grupos > tfoot > tr > td{
        border: solid white 1px;
    }
    .botao {
        width: 60px;
        height: 30px;
    }
    #div_head_grupo_permissao > h5 {
        font-weight: bold;
    }
    
    /*CADASTRO DE NOVO CLIENTE*/

    #section_cadastro_cliente {
        height: 100%;
    }
    #div_cadastro {
        margin-left: 20%;
        margin-top: 4%;
    }
    #panel_cadastro_cliente {
        background-color: #A0522D;
        color: white;
        font-size: 15px;
    }
    #panel_cadastro_cliente_body {
        border: solid #A0522D 1px;
    }
    #btn_cad_cliente, #btn_cad_cliente_logar {
        width: 75px;
    }
    #div_botoes_cadas_cliente {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #msg_erro_nome_cliente, #msg_erro_nome_cliente_sem_numeros, #msg_erro_email_cad_cliente, #msg_erro_senha_cad_cliente, 
    #msg_erro_email_cad_cliente_n_val, #msg_erro_senha2_cad_cliente, #msg_erro_telef_cad_cliente, #msg_erro_cpf_cad_cliente {
        padding-top: 2px;
        padding-bottom: 2px;
        font-weight: bold;
        font-size: 11px;
        width: 90%;
        text-align: center;
    }
    #msg_cad_cliente_sucesso {
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: bold;
        margin-top: 6%;
        text-align: center;
    }
    #msg_erro_cad_cliente {
        padding-top: 6px;
        padding-bottom: 6px;
        font-weight: bold;
        text-align: justify;
        font-size: 12px;
        margin-top: 2.7%;
    }

    #div_erros_cadas_cliente {
        float: right;
    }

    /*PÁGINA RECUPERAR SENHA*/

    #div_rec_senha {
        margin-top: 7%;
        margin-left: 25%;
    }
    #div_rec_senha_body > form > h2{
        text-align: center;
    }
    #div_rec_senha_body > form > p {
        text-align: center;
    }
    #input_senha_rec {
        width: 80%;
    }
    #div_input_rec_senha > input {
        text-align: center;
        margin-left: 10%;
    }
    #btn_rec_senha {
        margin-left: 10%;
        width: 80%
    }




    .erro_validacao {
        color: red;
        font-size: 12px;
    }
    .msg_dados_salvos_sucesso {
        color: green;
        font-size: 12px;
    }

    #div_pg_404 {
        margin-left: 8%;
        margin-top: 3%;
    }
    #btn_sair_pag_404 {
        float: right;
        margin-top: 1%;
    }

    .tam_btn {
        width: 150%;
    }

    .borda {
        border: solid 1px black;
    }
    #section_login {
        height: 100%;
    }

    /*PAGINA SEM ENDEREÇO*/
    #section_sem_end {
        height: 100%;
    }
    #div_sem_end {
        margin-left: 30%;
        margin-top: 4%;
    }
    #btn_cad_end {
        width: 88%;
    }  
    #div_cad_end {
        margin-left: 28%;
        margin-top: 4%;
        background-color: #F5F5F5;
        height: 390px;
    }
    #div_radio {
        padding: 5px;
        margin-left: 13%;
    }
    .msgError {
        color: red;
        font-weight: bold;
        font-size: 12px;
        padding: 7px;
    }
    #div_msgs_error_credito {
        float: left;
        margin-left: 7%;
    }
    #div_botoes_cad_end {
        margin-left: auto;
    }
    #div_ret_cad_end {
        width: 320px;
        text-align: center;
    }
    
    /*MODAL ADD BAIRRO*/
    #div_modal_content {
        width: 95%;
        margin-top: 22%;
        height: 310px;
    }
    .modal_header {
        background-color: #DCDCDC;
    }
    .modal_header > h4 {
        text-align: center;
        font-weight: bold;
    }
    #retorno {
        text-align: center;
        font-weight: bold;
        width: 60%;
    }
    #div_retorno_erro_modal {
        margin-left: 2%;
    }
    .div_form_modal {
        width: 50%;
        margin-left: 25%;
    }
    .msgSuccess {
        color: green;
        font-weight: bold;
        font-size: 12px;
        padding: 7px;
        width: 200%;
    }
    #msgEndCadSucesso {
        width: 80%;
        text-align: center;
        margin-left: 8%;
    }
    #div_btns_cad_bairro {
        float: right;
    }
    #msgErroCadBairo {
        width: 200%;
    }
    .left {
        float: left
    }
    
    /*PÁGINA QUEM SOMOS*/
    #div_quem_somos_body {
        margin-left: 15.5%;
        margin-top: 4%;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        border: #f0b7a1	0 solid;
        background: #f0b7a1; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #f0b7a1 0%, #752201 99%, #8c3310 100%, #bf6e4e 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #f0b7a1 0%,#752201 99%,#8c3310 100%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #f0b7a1 0%,#752201 99%,#8c3310 100%,#bf6e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 );
    }
    #head_quem_somos {
        padding-top: 5px;
        border-bottom: white 2px solid;
        width: 95%;
        margin-left: 2%;
    }
    #head_quem_somos > h3 {
        color: white;
        font-weight: bold;
    }
    #body_quem_somos {
        width: 95%;
        margin-left: 2%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #body_quem_somos > p {
        text-align: justify;
        color: white;
    }
    #section_quem_somos {
        height: 605px;
        margin-top: -1.5%;
    }
    .pizza_imagem_fundo {
        background-image: url('/imgs/pizza_quem_somos.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-origin: padding-box;
        bottom: 0;
        color: black;
        left: 0;
        overflow: auto;
        right: 0;
        text-align: center;
        top: 0;
        background-size: cover;
    }
    
    /*PÁGINA TERMOS E CONDIÇÕES DE USO*/
    #div_quem_termos_body {
        margin-left: 8%;
        margin-top: 1%;
    }
    #head_termos > h3 {
        text-align: center;
        color: red;
    }
    #head_termos > h3 > p {
        text-align: justify;
        font-size: 11px;
    }
    #body_termos > p {
        text-align: justify;
    }
    .cor_vermelha_negrito {
        color: red;
        font-weight: bold;
    }
    
    /*PÁGINA HOME CLIENTE*/
    #div_cardapio_body {
        margin-left: 12%;
    }
    #div_cardapio {
        padding-top: 9px;
        padding-bottom: 0;
        background-color: #A0522D;
        margin-left: 12%;
        margin-top: 2%;
    }
    #div_cardapio > p {
        text-align: center;
        color: white;
        font-weight: bold;
    }
    #div_cardapio_menu {
        padding: 8px;
    }
    .borda_cinza {
        border: #D3D3D3 1px solid;
    }
    #input_buscar_menu {
        width: 70%;
        float: right;
    }
    #div_imagem_produto {
        float: left;
        width: 18%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #div_desc_produto {
        width: 58%;
        float: left;
    }
    #div_preco_produto {
        width: 15%;
        margin-left: 6%;
        padding-left: 18px;
        float: left;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    #div_produto_add_car {
        width: 3%;
        float: left;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 2px;
    }
    #div_produto_menu {
        padding-left: 0;
        padding-right: 0;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}    

@media (min-width: 1440px) {
    .both {
        clear: both;
    }
    #header {
        background-color: #A0522D;
    }
    #nav_bar {
        background-color: #A0522D;
        border: solid #A0522D;
    }
    #nav_bar_info {
        margin-left: 30%;
    }
    #nav_bar_info > li > a {
        color: white;
        background-color: #A0522D;
    }
    #nav_bar_admin {
        margin-left: 15%;
    }
    #nav_bar_admin > li > a {
        color: white;
        background-color: #A0522D;
    }
    #dropdown-content_admin {
        display: none;
        margin-top: 2px;
        margin-left: -20%;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    
    #dropdown-content {
        display: none;
        margin-top: 2px;
        margin-left: -45%;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    #ul_logout > li > a {
        color: white;
    }
    #ul_nav_nome_user {
        margin-left: 45%;
        margin-top: 1.1%;
    }
    #ul_nav_nome_user > li > span {
        color: white;
    }
    #ul_nav_nome_user_admin {
        margin-left: 30%;
        margin-top: 1.1%;
    }
    #ul_nav_nome_user_admin > li > span {
        color: white;
    }
    
    
    #titulo_site_nav {
        color: white;
        font-family: Bookman;
        font-size: 28px;
        text-shadow: 0.1em 0.1em 0.20em #333; 
    }
    #div_login {
        margin-left: 15%;
        margin-top: 6%;
    }
    #div_cadastrar {
        float: left;
        border-right: solid 2px gray;
        height: 281px;
    }
    #div_cadastrar > h2{
        text-align: center;
    }
    #div_cadastrado {
        float: right;
        border-left: solid 2px gray;
    }
    #div_cadastrado > form > h2{
        text-align: center;
    }
    #btn_login_entrar {
        width: 100%;
    }
    #div_lembrar_senha > p {
        text-align: center;
    }
    .msg_erro_validacao {
        padding: 8px;
        font-weight: bold;
        font-size: 13px;
        width: 80%;
    }
    #div_erro_login {
        text-align: center;
    }
    #msg_erro_email, #msg_erro_senha {
        margin-left: 10%;
    }
    #msg_erro_email_nao_cadastrado, #msg_erro_senha_nao_confere {
        margin-left: 5%;
        padding: 10px;
        font-weight: bold;
        font-size: 12px;
        width: 90%;
    }
    
    /*PÁGINA DE PERMISSÕES*/
    #div_nav_tabs {
        margin-left: 25%;
        margin-top: 2%;
    }
    #div_cad_permissao {
        margin-left: 29%;
        margin-top: 2%;
    }
    #tabela_permissoes {
        margin-top: 0;
        border-top: solid #DCDCDC 0;
    }
    #tabela_permissoes > thead > tr > th {
        text-align: center;
        border-bottom: solid white 0;
    }
    #tabela_permissoes > thead > tr > th:first-child  {
        border-right: solid white 1px;
    }
    #tabela_permissoes > thead {
        background-color: #DCDCDC;
        border-bottom: solid #DCDCDC 0;
    }
    #tabela_permissoes > tbody > tr > td {
        text-align: center;

    }
    #tabela_permissoes > tbody > tr > td {
        padding: 1px;
    }
    #tabela_permissoes > tbody > tr > td:first-child {
        padding: 5px;
    }
    #tabela_permissoes > tfoot > tr > td{
        border: solid white 1px;
    }
    #msg_erro_nova_permissao {
        padding-top: 2px;
        padding-bottom: 2px;
        font-weight: bold;
        font-size: 12px;
        width: 100%;
        text-align: center;
    }
    #msg_erro_novo_grupo {
        padding-top: 2px;
        padding-bottom: 2px;
        font-weight: bold;
        font-size: 12px;
        width: 130%;
        text-align: center;
    }
    #msg_erro_param_permi {
        padding-top: 2px;
        padding-bottom: 2px;
        font-weight: bold;
        font-size: 12px;
        width: 130%;
        text-align: center;
    }
    #div_form_cad_permissao {
        float: left;
    }
    #div_erro_cad_permissao {
        float: left;
        margin-left: 25%;
        margin-top: 5px;
    }
    
    #tabela_grupos {
        margin-top: 0;
        border-top: solid #DCDCDC 0;
    }
    #tabela_grupos > thead > tr > th {
        text-align: center;
        border-bottom: solid white 0;
    }
    #tabela_grupos > thead > tr > th:first-child  {
        border-right: solid white 1px;
    }
    #tabela_grupos > thead {
        background-color: #DCDCDC;
        border-bottom: solid #DCDCDC 0;
    }
    #tabela_grupos > tbody > tr > td {
        text-align: center;

    }
    #tabela_grupos > tbody > tr > td {
        padding: 1px;
    }
    #tabela_grupos > tbody > tr > td:first-child {
        padding: 5px;
    }
    #tabela_grupos > tfoot > tr > td{
        border: solid white 1px;
    }
    .botao {
        width: 60px;
        height: 30px;
    }
    #div_head_grupo_permissao > h5 {
        font-weight: bold;
    }
    
    
    /*CADASTRO DE NOVO CLIENTE*/

    #section_cadastro_cliente {
        height: 100%;
    }
    #div_cadastro {
        margin-left: 20%;
        margin-top: 4%;
    }
    #panel_cadastro_cliente {
        background-color: #A0522D;
        color: white;
        font-size: 15px;
    }
    #panel_cadastro_cliente_body {
        border: solid #A0522D 1px;
    }
    #btn_cad_cliente, #btn_cad_cliente_logar {
        width: 75px;
    }
    #div_botoes_cadas_cliente {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #msg_erro_nome_cliente, #msg_erro_nome_cliente_sem_numeros, #msg_erro_email_cad_cliente, #msg_erro_senha_cad_cliente, 
    #msg_erro_email_cad_cliente_n_val, #msg_erro_senha2_cad_cliente, #msg_erro_telef_cad_cliente, #msg_erro_cpf_cad_cliente {
        padding-top: 2px;
        padding-bottom: 2px;
        font-weight: bold;
        font-size: 11px;
        width: 90%;
        text-align: center;
    }
    #msg_cad_cliente_sucesso {
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: bold;
        margin-top: 6%;
        text-align: center;
    }
    #msg_erro_cad_cliente {
        padding-top: 6px;
        padding-bottom: 6px;
        font-weight: bold;
        text-align: justify;
        font-size: 12px;
        margin-top: 2.7%;
    }

    #div_erros_cadas_cliente {
        float: right;
    }

    /*PÁGINA RECUPERAR SENHA*/

    #div_rec_senha {
        margin-top: 7%;
        margin-left: 25%;
    }
    #div_rec_senha_body > form > h2{
        text-align: center;
    }
    #div_rec_senha_body > form > p {
        text-align: center;
    }
    #input_senha_rec {
        width: 80%;
    }
    #div_input_rec_senha > input {
        text-align: center;
        margin-left: 10%;
    }
    #btn_rec_senha {
        margin-left: 10%;
        width: 80%
    }




    .erro_validacao {
        color: red;
        font-size: 12px;
    }
    .msg_dados_salvos_sucesso {
        color: green;
        font-size: 12px;
    }

    #div_pg_404 {
        margin-left: 8%;
        margin-top: 3%;
    }
    #btn_sair_pag_404 {
        float: right;
        margin-top: 1%;
    }

    .tam_btn {
        width: 150%;
    }

    .borda {
        border: solid 1px black;
    }
    #section_login {
        height: 100%;
    }

    /*PAGINA SEM ENDEREÇO*/
    #section_sem_end {
        height: 100%;
    }
    #div_sem_end {
        margin-left: 30%;
        margin-top: 4%;
    }
    #btn_cad_end {
        width: 88%;
    }  
    #div_cad_end {
        margin-left: 28%;
        margin-top: 4%;
        background-color: #F5F5F5;
        height: 390px;
    }
    #div_radio {
        padding: 5px;
        margin-left: 13%;
        float: left;
    }
    #div_btn_add_bairro {
        width: 12%;
        padding: 2px;
    }
    #btn_adc_bairro {
        background-color: #C0C0C0;
        border: #C0C0C0 solid 0;
        width: 30px;
        height: 30px;    
    }
    .msgError {
        color: red;
        font-weight: bold;
        font-size: 12px;
        padding: 7px;
    }
    #div_msgs_error_credito {
        float: left;
        margin-left: 7%;
    }
    #div_botoes_cad_end {
        margin-left: auto;
    }
    #div_ret_cad_end {
        width: 320px;
        text-align: center;
    }
    
    /*MODAL ADD BAIRRO*/
    #div_modal_content {
        width: 95%;
        margin-top: 22%;
        height: 310px;
    }
    .modal_header {
        background-color: #DCDCDC;
    }
    .modal_header > h4 {
        text-align: center;
        font-weight: bold;
    }
    #retorno {
        text-align: center;
        font-weight: bold;
        width: 60%;
    }
    #div_retorno_erro_modal {
        margin-left: 2%;
    }
    .div_form_modal {
        width: 50%;
        margin-left: 25%;
    }
    .msgSuccess {
        color: green;
        font-weight: bold;
        font-size: 12px;
        padding: 7px;
        width: 200%;
    }
    #msgEndCadSucesso {
        width: 80%;
        text-align: center;
        margin-left: 8%;
    }
    #div_btns_cad_bairro {
        float: right;
    }
    #msgErroCadBairo {
        width: 200%;
    }
    .left {
        float: left
    }
    
    /*PÁGINA QUEM SOMOS*/
    #div_quem_somos_body {
        margin-left: 15.5%;
        margin-top: 5%;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        border: #f0b7a1	0 solid;
        background: #f0b7a1; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #f0b7a1 0%, #752201 99%, #8c3310 100%, #bf6e4e 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #f0b7a1 0%,#752201 99%,#8c3310 100%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #f0b7a1 0%,#752201 99%,#8c3310 100%,#bf6e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 );
    }
    #head_quem_somos {
        padding-top: 5px;
        border-bottom: white 2px solid;
        width: 95%;
        margin-left: 2%;
    }
    #head_quem_somos > h3 {
        color: white;
        font-weight: bold;
        text-align: left;
    }
    #body_quem_somos {
        width: 95%;
        margin-left: 2%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #body_quem_somos > p {
        text-align: justify;
        color: white;
    }
    #section_quem_somos {
        height: 737px;
        margin-top: -1.4%;
    }
    .pizza_imagem_fundo {
        background-image: url('/imgs/pizza_quem_somos.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-origin: padding-box;
        bottom: 0;
        color: black;
        left: 0;
        overflow: auto;
        right: 0;
        text-align: center;
        top: 0;
        background-size: cover;
    }
    
    /*PÁGINA TERMOS E CONDIÇÕES DE USO*/
    #div_quem_termos_body {
        margin-left: 8%;
        margin-top: 1%;
    }
    #head_termos > h3 {
        text-align: center;
        color: red;
    }
    #head_termos > h3 > p {
        text-align: justify;
        font-size: 11px;
    }
    #body_termos > p {
        text-align: justify;
    }
    .cor_vermelha_negrito {
        color: red;
        font-weight: bold;
    }
    
    /*PÁGINA HOME CLIENTE*/
    #div_cardapio_body {
        margin-left: 12%;
    }
    #div_cardapio {
        padding-top: 9px;
        padding-bottom: 0;
        background-color: #A0522D;
        margin-left: 12%;
        margin-top: 2%;
    }
    #div_cardapio > p {
        text-align: center;
        color: white;
        font-weight: bold;
    }
    #div_cardapio_menu {
        padding: 8px;
    }
    .borda_cinza {
        border: #D3D3D3 1px solid;
    }
    #input_buscar_menu {
        width: 70%;
        float: right;
    }
    #div_imagem_produto {
        float: left;
        width: 18%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #div_desc_produto {
        width: 58%;
        float: left;
        padding-top: 7px;
    }
    #div_preco_produto {
        width: 15%;
        margin-left: 6%;
        padding-left: 18px;
        float: left;
        padding-top: 22px;
        padding-bottom: 10px;
    }
    #div_produto_add_car {
        width: 3%;
        float: left;
        padding-top: 22px;
        padding-bottom: 10px;
        padding-left: 2px;
    }
    #div_produto_menu {
        padding-left: 5px;
        padding-right: 2px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;
    }
    #div_row_prod_menu {
        background-color: #f9f9f9;
    }
    
}